name: CI

on: [push,pull_request]

env:
  GO_VERSION: 1.18

jobs:
  test:
    name: Unit Testing
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - name: Setup Go Environment
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go
      - name: Checkout Source Code
        uses: actions/checkout@v3
      - name: Go Get dependencies
        run: go get -v -t -d ./...
      - name: Go Test
        run: go test -cover ./...
      - name: Go Race Test
        run: go test -race ./...
